.attend_container{
    background: url(../../assets/index_bg.jpg);
    width: 100%;
    height: 700.02px;
    background-size: 100% 695px;
    .slogan{
        width: 100%;
        height: 50%;
        background: url(../../assets/slogan.png);
        background-size:100%;
        position: absolute;
        top: 46%;
        .vid_ani{
            width: 60px;
            height: 60px;
            position: absolute;
            background: url(../../assets/vid_ani.png) no-repeat;
            background-size: 60px 60px;
            left: 75px;
            top: 225px;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: vidAni 1.1s infinite;
            transition: 1s;
            &::after{
                content: "";
                display: block;
                width: 21px;
                height: 30px;
                background: url(../../assets/vid_arr.png) no-repeat;
                background-size: 21px 30px;
                margin-left: 6px;
            }
        }
        .book_btn{
            width: 100%;
            height: 50%;
            background: url(../../assets/book_btn.png) no-repeat;
            background-size: 84%;
            margin: 257px 0 0 30px;

        }
    }
}

@keyframes vidAni{
    0%{
        transform: scale(0.99);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(0.99);
    }
}

@keyframes vidDown{
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-2px);
    }
}